

{% extends "website/base.html" %}

{% block content %}



<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 m-3 pt-3">
      <div class="card bg-light m-3">
        <div class="bg-light m-3 card-header d-flex justify-content-between align-items-center">
          <span>{{ object.title }}</span>
      
        </div>
        <div class="m-3 card-body">
          <p class="card-text">{{ object.content }}</p>
        </div>
          <div class="m-3 d-flex align-items-center justify-content-between">
            <img class="m-1 author-icon rounded-circle" src="{{ object.author.profile.picture.url }}">
            <p class="m-1">By <a href="{% url 'user-news' object.author.username %}">{{ object.author }}</a> on {{ object.date_created|date:"d/N/Y" }}</p>
          
            <div class="ml-auto d-flex align-items-center">
                {% if object.author == user %}
                <a class="m-1 p-1 btn btn-secondary " href="{% url 'new-update' object.id %}">Update</a>
                <a class="m-1 p-1 btn btn-danger " href="{% url 'new-delete' object.id %}">Delete</a>
                {% endif %}
          
            
          
          </div>
          
   
        </div>
      </div>
    </div>
  </div>
</div>


 

{% endblock content%}