{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

 
    <div class=" container  ">
        <div class="row justify-content-center m-3 pt-3">
            <div class="m-3 bg-light col-md-8 ">
                <form class="bg-light m-3 justify-content-center "method="POST">
                {% csrf_token %}
                    <fieldset class="form-group m-3 justify-content-center  ">
                        <legend class="border-bottom m-3 d-flex justify-content-center">Login</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class=" m-3 d-flex justify-content-center form-group">
                        <button class="btn btn-primary " type="submit">Login</button>

                    </div>
   
    
                </form>
                <div class=" d-flex justify-content-center">
                    <a href="">Password Recovery</a>
                </div>
                <div class=" d-flex justify-content-center">
                   <p class="text-muted">Don't have an account?</p>
                </div>
                <div class=" mb-3 pb-3 d-flex justify-content-center">  
                    <a class="ml-2" href="{% url 'signup'}">Sign Up</a>
                </div>
         
            </div>
        </div>
       
    </div>


{% endblock content%}


