{% extends "website/base.html" %}


{% block content %}

 
    <div class="container">
        <div class="row justify-content-center m-3 p-3">
            <div class="bg-light col-md-8 ">
        <form class="m-3" method="POST">
            {% csrf_token %}
            <fieldset class="form-group m-3">
                <legend class="border-bottom p-2 d-flex justify-content-center">Delete</legend>
                <div class=" d-flex justify-content-center ">
                <p>Do you want to delete "{{ object.title}}"?</p>
                </div>
            </fieldset>
            <div class="form-group d-flex justify-content-center m-1 ">
                <button class="m-1 btn btn-danger " type="submit">Delete</button>
                <a href="{% url 'new-detail' object.id  %}" class="m-1 btn btn-secondary">Cancel</a>
            </div>

         
        </form>
    
       
            </div>
        </div>
    </div>


{% endblock content%}
