{% extends "website/base.html" %}
{% load crispy_forms_tags %}


{% block content %}

 <div class="container">
    <h1>Profile</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-3 pt-3">
            <div class="row">
              

                <div class="col-sm-4 bg-light">
                    <div class="media p-3 ">
                        <img class="img-fluid " src="{{ user.profile.picture.url }}" >
                    </div>
               
                    <div class="text-center text-muted p-3 ">
                   
                        <h2>{{ user.username }}</h2>
                    
                       
                    </div>
                    <div class="text-center text-muted p-3">
                        <p>{{ user.email }}</p>
                        <p>{{ user.profile.bio }}</p>

                    </div>
        
                </div>
              
                <div class="col-sm-8 bg-light ">
            
               
                    <div class="row">
                        <div class="col d-flex justify-content-center ">
                            <form method="POST" enctype = "multipart/form-data" class="p-3">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom p-2 d-flex justify-content-center">Profile Info</legend>
                                    {{ credentialsForm|crispy }}
                                    {{ profileForm|crispy }}
                                </fieldset>
                                <div class="form-group d-flex justify-content-center p-1">
                                    <button class="btn btn-outline-info" type="submit">Update</button>
                                </div>
                    
                             
                            </form>
                          
                        </div>
                     
                    </div>
               
                </div>
            </div>
        </div>
    </div>
 </div>


{% endblock content%}


